.title {    
    color: pink;       
}

.statList {
    display: flex;
}

.item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
    background: greenyellow;
}

.label {    
    text-align: start;
}